# dependencies
/node_modules

# build outputs
/.next/
/.vinext/
/dist/
/.wrangler/
/outputs/
/qc-output/
/work/

# environment
.env*
!.env.example

# misc
.DS_Store
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# platform
.vercel
tsconfig.tsbuildinfo
